{{#each model as song}}
  {{song.Id}}
{{/each}}
<form {{action "createSong" on="submit"}}>
 <div class="form-group">
   <label>Title</label>
   {{input value=title class="form-control"}}
 </div>
 <input type="submit" value="Add Song" class="btn btn-primary">
</form>
